<br>
		<br>
		<footer>
			<div>
				<a class="center" href="#top">Top of Page</a>
				<br>
				<hr>
				<!-- Links -->
				<p class="center">
				<a href="http://students.cpcc.edu/~rprophe0/web215" target="_blank">My Webspace</a>&nbsp;|
				<a href="https://github.com/robert-m-proph/" target="_blank">GitHub</a>&nbsp;|
				<a href="https://robert-m-proph.github.io/" target="_blank">GitHub Pages</a>&nbsp;|
				<a href="https://www.khanacademy.org/profile/robertPropheter/" target="_blank">Khan Academy</a>&nbsp;|
				<a href="https://www.codecademy.com/profiles/robert_m_proph" target="_blank">Codecademy</a>&nbsp;|
				<a href="https://www.freecodecamp.org/robert_m_proph" target="_blank">freeCodeCamp</a>&nbsp;|
				<a href="https://jsfiddle.net/user/robert_m_proph/fiddles/" target="_blank">JSFiddle</a>&nbsp;|
				<a href="https://profile.edx.org/u/robert_m_proph" target="_blank">EdX</a>&nbsp;|
				<a href="https://www.linkedin.com/in/robert-propheter/" target="_blank">LinkedIn</a>
				</p>
			</div>
			<div class="center">&copy; 2020 Designed by <a href="mailto:rprophe0@email.cpcc.edu.com">Robert Propheter</a></div>
			<br>
			<br>		
			<!-- HTML5 and CSS Validation Buttons -->
			<a href = "http://validator.w3.org/check?uri=referer" target="_blank">
				<img style = "border: 0; width: 88px; height: 31px"
				src ="images/tpb_html5_validation.png" 
				alt ="Validate HTML!" /></a> &nbsp;			
			<a href = "http://jigsaw.w3.org/css-validator/check/referer" target="_blank">
				<img style = "border: 0; width: 88px; height: 31px"
				src = "images/tpb_css_validation.png" 
				alt = "Validate CSS!" /></a>
		</footer>