<nav class="center">
	<span onclick="loadMain('dynamic_pages/contract.txt')">Contract</span>&nbsp;|
	<span onclick="loadMain('dynamic_pages/introduction.txt')">Introduction</span>&nbsp;|
	<span onclick="loadMain('dynamic_pages/brand.txt')">The Playbook</span>&nbsp;|
	<span onclick="loadMain('dynamic_pages/sprite.txt')">Sprites</span>&nbsp;|
	<a href="http://students.cpcc.edu/~rprophe0/web215/codepen_projects/">CodePen Projects</a>&nbsp;|
	<span onclick="loadMain('dynamic_pages/charlie.txt')">Charlie</span>&nbsp;|
	<span onclick="loadMain('dynamic_pages/delta.txt')">Delta</span>&nbsp;|
	<span onclick="loadMain('dynamic_pages/echo.txt')">Echo</span>&nbsp;
</nav>	
<hr>
<br>