<br>
<br>
<nav class="center">
	<span onclick="loadMain('dynamic_pages/the_playbook/tpb_brand_guide.txt')">Brand Guide</span>&nbsp;|
	<span onclick="loadMain('dynamic_pages/the_playbook/tpb_offense.txt')">Offense</span>&nbsp;|
	<span onclick="loadMain('dynamic_pages/the_playbook/tpb_defense.txt')">Defense</span>&nbsp;|
	<span onclick="loadMain('dynamic_pages/the_playbook/tpb_special_teams.txt')">Special Teams</span>&nbsp;|
	<span onclick="loadMain('dynamic_pages/the_playbook/tpb_warm_up_drills.txt')">Warm Up Drills</span>
</nav>	
<hr>
<br>