/*
WEB 215

This CSS is the default Style for my web pages. Robert Propheter 
*/
body {
	background-color: #faebd7; /*antiquewhite*/
	margin: 10px 10%;
	font-family: Courier;
	color: #000000; /*black*/
	font-size: 1em;
}
h1, h2, h3, h4, h5 {
	font-family: Verdana;
	color: #2E8B57; /*seagreen*/
}

a { text-decoration: none;}
a:link { color: #000000; /*black*/
	font-weight: bold;}
a:visited { color: #000000; } /*black*/
a:hover { color: #2E8B57; } /*seagreen*/

footer {
	text-align: center;
	display: block;
	font-size: 0.8em;
}
.center {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
